@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans:wght@700&family=Poppins:wght@500&display=swap);
//Resets
*
  margin: 0
  padding: 0
  box-sizing: border-box
button
  border: none
  outline: none
  cursor: pointer
  //Colors
$background1: #FAFAFB
$background2: #F6F8FB
$footerTypo: #A9A9A9
$Blue1: #2F80ED
$Gray2: #4F4F4F
$Gray3: #828282
$Gray4: #BDBDBD
$Gray6: #f2f2f2
$Green1: #219653

//Typography
$typo1: 'Poppins', sans-serif
$typo2: 'Noto Sans', sans-serif
$typo3: 'Montserrat', sans-serif

@media only screen and (min-width: 442px)
  body
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
